body{
    margin:0;
    font-family:Arial;
    background:white;
    color:black;
}

header{
    background:red;
    padding:20px;
    text-align:center;
    color:white;
}

nav{
    background:black;
    padding:10px;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

section{
    padding:20px;
    border-bottom:1px solid #ddd;
}

h2{
    color:red;
    margin: auto;
    text-align:center;
}

img{
    width: 700px;
    display:block;
    margin-bottom:10px;
    justify-content: center;
    margin: auto;
}

footer{
    background:black;
    color:white;
    padding:10px;
    text-align:center;
}

iframe {
    margin: auto;
    justify-content: center;
    text-align:center;
}